<div class="jumbotron">
      <div class="container">
        <h1>Welcome to Apuesta.me!</h1>
        <p>We connect Non-profit organizations or Charity with donors in a easy way!</p>
        <p><a class="btn btn-primary btn-lg" role="button">Learn more about us!</a></p>
      </div>
</div>
<div class="container">
      <!-- Example row of columns -->
      <div class="row" id="nearCampaigns">
        <div class="col-md-12">
            These Campaigns are near you!
        </div>
        <div id="loadingCampaigns" class="alert alert-success" role="alert"><i class="fa fa-cog fa-spin"></i> Loading Near Campaigns... </div>
        <div class="row" id="nearCampaigns"></div>
        <div id="noCampaigns" class="alert alert-warning" role="alert" style="display:none"><i class="fa fa-thumbs-down"></i> There's no are campaigns near you, Sorry :(</div>
      <hr>
  </div>
  <div class="container">
    <p class="pull-right">Apuesta.me &copy; 2014</p>
  </div>
