<h1>Campaings</h1>

<% if identity_signed_in? %>
  <p><%= link_to 'our campaigns', campaigns_path %> | <%= link_to 'all campaigns', "#{campaigns_path}?#{{all: 1}.to_query}" %></p>
<% end %>

<div class="col-md-12 col-lg-12">
    <%= render @campaigns %>
</div>
